:root {
    --black: #000000;
    --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
  }
* {
    margin: 0px;
    padding: 0px;
}
  *,
*::before,
*::after {
  box-sizing: border-box;
}
.body {font-family: 'Roboto', 'Raleway', sans-serif;
    font-style: normal;
    color: #212121;}
.container {
    max-width: 1200px;
    margin: 0 auto;
    
}
.header {
    border-bottom: 1px solid #ececec;
    padding: 0 15px ;
    margin: auto;
    height: 80px;
    
}
.header__menu {
   
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    flex-wrap: wrap; 
    height: 100%;
}
.header__list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
}

a {
    text-decoration: none;
}
.header__logo {
    font-family: 'raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19em;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    color: #212121;
    margin-right: 93px;
}
.logo--web {
    color: #2196F3;}
/* nav*/
.menu {
display: flex;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
list-style: none;
    } 
.menu__item {
text-decoration: none;
color:#212121;
position: relative;
}
/*transition */
.menu__item:hover, .menu__contact:hover,
.social-media__item:hover,
.footer__social-item:hover
 {
    color: #2196F3;
    transition-duration: 250ms;
    transition-property: color, background-color, box-shadow, transform, border-color, opacity, visibility;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition: color(#2196F3)
}

.menu__item:focus {color: #2196F3;}
.menu__item {
    justify-content: center;
    padding: 20px;
}
a.item.current-page {
    position: relative 
    }
  
.current-page {
    color: #2196f3;
}
.current-page::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196f3;
}
.animation-time {
    transition-duration: 250ms;
    transition-property: color, background-color, box-shadow, transform, border-color, opacity, visibility;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.animation-time::after {
    
    transition-duration: 250ms;
    transition-property: color, background-color, box-shadow, transform, border-color, opacity, visibility;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition: color(#2196F3)
}

.menu__contacts {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style-type: none;
}

.menu__contact {
display: flex;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: #757575;
text-decoration: none;
align-items: center;
padding: 10px;
margin-left: 50px;
}

.icon-envelope {
    width: 16px;
    height: 12px;
    fill: currentColor;
    margin-right: 10px;
}
.icon-smartphone {
    width: 10px;
    height: 36px;
    fill: currentColor;
    margin-right: 10px;
    }
.icon-envelope:hover, .icon-smartphone:hover {
    color: #2196F3;}

body { font-family: "Roboto", "Raleway", sans-serif;
color: #212121;
}
.section {
    padding: 94px 0px;
    display: block;
}
.section > img {
    padding: 20px;
}
.portfolio__buttons {
    margin-bottom: 40px;
    display: flex;
    list-style: none;
    justify-content: center;
    
}
.portfolio__button {
    display: flex;
    background-color: #F5F4FA;
    color: #212121;
    font-size: 16px;
    font-weight: 500;
    border: none;
    margin: 8px;
    padding: 15px 32px;
    align-items: center;
    cursor: pointer;
    background: #F5F4FA;
    border-radius: 4px;
    line-height: 1.6;
    height: 38px;
}
  .portfolio__button:hover {
    
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    /*animation*/
    transition-duration: 250ms;
    transition-property: color, background-color, box-shadow, transform, border-color, opacity, visibility;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition: color(#2196F3)
}
           
        .main {
            color: #fff;
            text-align: center;
        }
        .main__background {
            max-width: 1600px;
    padding: 200px 0;
    background-image: 
    linear-gradient(rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)), url(../images/background-index.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
        }
    
        .main__button {
    font-weight: 700;
    color: #fff;
    background-color: #2196F3;
    border: 0px;
    padding: 10px 42px;
    border-radius: 4px;
    line-height: 1.875em;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    cursor: pointer;
        }
        .main__header {
            font-weight: 900;
    font-size: 44px;
    line-height: 1.36em;
    text-transform: uppercase;
    max-width: 696px;
    margin: 0 auto 30px;
        }

        .testimonials {
            display: flex;
            list-style-type: none;
            flex-wrap: wrap;
            margin-left: -30px;
            margin-bottom: -30px;
            padding-bottom: 94px;
        }
        .testimonials__item {
            margin-left: 30px;
            margin-bottom: 30px;
            max-width: 270px;
        }
        .testimonials__item > h2 {
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            line-height: 1.14em;
            letter-spacing: 0.03em;
            margin-bottom: 10px;
        }
.testimonials-list-item > p {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71em;
    letter-spacing: 0.03em;
    color: #757575;
}

.testimonials__icon {
display: flex;
height: 120px;
background: #F5F4FA;
border-radius: 4px;
justify-content: center;
align-items: center;
margin-bottom: 30px;

}

.testimonials__image {
    width: 70px;
    height: 70px;

}
.services__head {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2em;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    text-align: center;
}
.services {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -30px;
    margin-left: -30px;
}
.services__item {
    list-style-type: none;
    margin-bottom: 30px;
    margin-left: 30px;
    position: relative;
    
}
.services__item > img {
    min-width: 370px;
    height: 274px;
    display: block;
}
.services__item--head {
    display: flex;
    background-color: rgba(47, 48, 58, 0.8);
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14em;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding: 27px 0;
    justify-content: center;
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
}
        .team {
            background: #F5F4FA;
           
        }
        .team__header {
    font-weight: 700;
    font-size: 35px;
    line-height: 1.2em;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    text-align: center;
        }
        .team__list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
        }
        .team__item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            background-color: #fff;
            box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
            border-radius: 0px 0px 4px 4px;
            margin-left: 30px;
            margin-bottom: 30px;
            text-decoration: none;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            /* or 171% */
            letter-spacing: 0.03em;
            color: #757575;
/* material shadow v1 */
            max-width: 270px;
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
            border-radius: 0px 0px 4px 4px;
            margin-top: 10px;
        }


        .team__item figcaption {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 30px;
        }
        .team__item img {
    max-width: 270px;
    max-height: 260px;
    display: block;
    margin: 0px;
    padding: 0px;}
    *, *::before, *::after {
        box-sizing: border-box;
    }
        
        .team__item h3 {
            display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #212121;
        }
/*social media*/
.social-media {
    list-style-type: none;
    display: flex;
    align-items: center;
}
.social-media__item {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 44px;
    height: 44px;
    margin-left: 10px;
    border-radius: 50%;
    background-color: #fff;
    color:#afb1b8;
}
.social-media__item:hover,
    .social-media__item:focus {
        color: #fff;
        background-color: #2196f3;
        
}
.social-media__icon {
    width: 20px;
    height: 20px;
    fill: currentcolor;
}
.clients__header {
height: 42px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
margin-bottom: 50px;
}
.clients {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.clients__item {
    display: flex;
    justify-content: center;
    height: 92px;
    min-width: 170px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 30px;
    margin-bottom: 30px;
    text-decoration: none;
    object-fit: contain;
    fill: #afb1b8;
 
}
.clients__item:hover, .clients__item:focus {
    fill: #2196f3;
    border: 1px solid #2196f3;
       
    }
.clients__image {
    display: flex;
    align-self: center;
    color: currentcolor;
    width: 106px;
    height: 60.04px;
  
}


.portfolio__list {
list-style-type: none;
display: flex;
flex-wrap: wrap;

}
.portfolio__item { 
    display: flex;
    background-color: #fff;
    margin-left: 30px;
    margin-bottom: 30px;
    max-width: 370px;
}

.portfolio__item figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    
}
.portfolio__item figure:hover {
    /* material shadow v1 */
cursor: pointer;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
transform: ;
}
.portfolio__item figcaption {
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
}
.portfolio__item-h3 {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    padding: 20px 24px 4px 24px;
    color: #212121;
}
.portfolio__item-text{
    line-height: 1.875em;
    color: #757575;
    padding: 0px 24px 20px 24px;
    }
.portfolio__item {
    display: flex;
    position: relative;
    overflow: hidden;
    max-width: 370px;
}

/*animation*/
.portfolio__item:hover .portfolio__description,
.portfolio__item:active .portfolio__description,
.portfolio__item:focus .portfolio__description {
  transform: translatey(0);
}
.portfolio__item-img {
    position: relative;
    overflow: hidden;
    display: block;
}

.portfolio__description {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    color: #fff;
    background-color: rgba(33, 150, 243, 0.9);
    padding: 49px 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    transform: translatey(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
}



.footer {
    font-style: normal;
    background: #2F303A;
    color: #fff;
    padding: 60px 0;
    text-decoration: none;
    display: block;
background: #2F303A;
    }
.footer--container {
    display: flex;
    padding: 0 15px;
}
.footer__logo {
    display: inline-block;
    font-family: 'raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19em;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    margin-bottom: 20px;
    color: #fff;

}
.footer__logo span {
color: #2196F3;}
.footer-link, .footer-text {
    display: block;
}
.footer__address {
    margin-right: 70px;
}
.footer__text{
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    font-weight: 400;
    list-style-type: none;
    color: #fff;
    margin-bottom: 9px;
}
.footer__link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none; }

.footer__link:hover,
.footer__link:focus {
color: rgba(255, 255, 255, 1);
}
.footer--container {
    display: flex;
}
.footer__social {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-top: 12px;
    margin-right: 78px;
}
.footer__social-header {
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.14em;
    letter-spacing: 0.03em;
}
.footer__social-list {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-top: 20px;
}
.footer__social-item {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 44px;
    height: 44px;
    margin-left: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
}
.footer__social-icon {
    width: 20px;
    height: 20px;
    fill: #fff;
}
.footer__social-item:hover {
    color: #fff;
    background-color: #2196F3;
    cursor: pointer;
}
.newsletter {
display: flex;
flex-direction: column;
padding-top: 12px;
}
.newsletter__head {
    width: 207px;
    height: 16px;
    margin-bottom: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.newsletter__form {
display: flex;
}

.newsletter__form-input {
    box-sizing: border-box;
    background-color: transparent;
    flex-grow: 1;
    padding: 15px 16px;
    width: 100%;
    height: 50px; 
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    margin-right: 12px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.newsletter__form-input:hover,
.newsletter__form-input:active {
    outline: none;
    color: rgba(255, 255, 255, 1);
    border-color: #fff;
}
.newsletter__button {
display: inline-flex;
align-items: center;
justify-content: center;
letter-spacing: 0.06em;
padding: 10px 8px;
height: 50px;
min-width: 200px;
background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */
color: #FFFFFF;

}
.newsletter__button:hover,
.newsletter__button:active {
    cursor: pointer;

}
.newsletter__button-icon {
width: 24px;
height: 24px;
fill: #FFFFFF;
margin-left: 24px;
}
.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color:  rgba(0, 0, 0, 0.2);
    transition-property: opacity, transform; 
    transition-duration: 250ms; 
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
    transform: scale(100%); 
    opacity: 100%;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 528px;
    min-height: 581px;
    background-color: #fff;
    
}
.close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    transition-property: opacity, transform; 
    transition-duration: 250ms; 
    transition-timing-function: var(--transition); 
    transform: scale(100%); 
    opacity: 100%;
    }
.close-btn__icon {
    display: flex;
    margin: auto;
    width: 12px;
    height: 12px;
   fill: #000000;
}
.modal-window-h3 {
    position: absolute;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
padding: 40px 40px;
margin-bottom: 12px;
}
.modal-window-form {
display: flex;
flex-direction: column;
padding: 93px 40px 40px;
}
.modal-window-form__label {
    font-size: 12px;
    line-height: 1.17em;
    letter-spacing: 0.01em;
    color: rgb(117, 117, 117);
    margin-bottom: 4px
}
.modal-window-form__input {
    display: flex;
    margin-bottom: 10px;
    min-width: 100%;
    border-image: initial;
    border-radius: 4px;
    padding: 12px 12px 12px 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    
}
.modal-window-form__textarea:hover,
.modal-window-form__textarea:focus,
.modal-window-form__textarea:active,
.modal-window-form__input:hover,
.modal-window-form__input:focus,
.modal-window-form__input:active {
  border: 1px solid #2196f3;
  outline: none;
}
.modal-icon-contact {
    position: absolute;
color: #212121;
width: 18px;
height: 18px;

}
.modal-window-form__textarea {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    line-height: 1.17;
    letter-spacing: 0.01em;
    padding: 12px 16px;
    min-width: 100%;
    min-height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    margin-bottom: 20px;
    transition: var(--transition)
}
.modal-window-form__textarea::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    color: rgba(117, 117, 117, 0.5);
  }

.bg-image-name {
    position: absolute;
    left: 52px;
    top: 116px;
width: 18px;
height: 18px;

}
.bg-image-name:hover,
.bg-image-name:focus,
.bg-image-name:active {
    fill: #2196F3;
}

.bg-image-phone {
    position: absolute;
    left: 52px;
    top: 187px;
width: 18px;
height: 18px;
}
.bg-image-phone:hover,
.bg-image-phone:focus,
.bg-image-phone:active {
    fill: #2196F3;
}
.bg-image-email {
    position: absolute;
    left: 52px;
    top: 259px;
width: 18px;
height: 18px;
}
.bg-image-email:hover,
.bg-image-email:focus,
.bg-image-email:active {
  fill: #2196F3;
}
.modal-window-form__terms {
    display: inline-flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    width: 100%;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
    margin-bottom: 30px;
}

.modal-window-form__terms a {
    text-decoration: underline;
    color: #2196f3;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.modal-window-form__terms::before {
margin-right: 8px;
}

.modal-window-form__checkbox {
    /* Oświadczam iż akceptuję Regulamin i Politykę Prywatności. */

max-width: 395px;
height: 24px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */
letter-spacing: 0.03em;
color: #757575;
width: 16px;
height: 15px;
margin-right: 8px;
}

.modal-window-form__terms::before{
    display: inline-block;
    content: "";
    width: 16px;
    height: 16px;
    outline: 1px solid #000;
}
.modal-window-form__checkbox:checked + .modal-window-form__terms::before {
   background-color: #2196F3;
   border: 3px solid #fff;
   background-image: url(../images/icon-checkbox-vector.svg);
}
.hidden {
    display: none;
}
  

.modal-window-form__button {
    align-self: center;
    background-color: #2196F3;
    border: 0px;
    border-radius: 4px;
    color: #fff;
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    cursor: pointer;

}
.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    
}