.menu {
    display: flex;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    list-style: none;
        } 
    .menu__item {
    text-decoration: none;
    color:#212121;
    justify-content: center;
    padding: 20px;
    position: relative;
    }
    /*transition */
    .menu__item:hover, .menu__contact:hover,
    .social-media__item:hover,
    .footer__social-item:hover
     {
        color: #2196F3;
        transition-duration: 250ms;
        transition-property: color, background-color, box-shadow, transform, border-color, opacity, visibility;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition: color(#2196F3)
    }
    
    .menu__item:focus {color: #2196F3;}
    
    a.item.current-page {
        position: absolute 
        }
      
    .current-page {
        color: #2196f3;
    }
    .current-page::after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: #2196f3;
    }
    .animation-time {
        transition-duration: 250ms;
        transition-property: color, background-color, box-shadow, transform, border-color, opacity, visibility;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    .animation-time::after {
        
        transition-duration: 250ms;
        transition-property: color, background-color, box-shadow, transform, border-color, opacity, visibility;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition: color(#2196F3)
    }
    
    .menu__contacts {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        list-style-type: none;
    }
    
    .menu__contact {
    display: flex;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
    align-items: center;
    padding: 10px;
    margin-left: 50px;
    }
    
    .icon-envelope {
        width: 16px;
        height: 12px;
        fill: currentColor;
        margin-right: 10px;
    }
    .icon-smartphone {
        width: 10px;
        height: 36px;
        fill: currentColor;
        margin-right: 10px;
        }
    .icon-envelope:hover, .icon-smartphone:hover {
        color: #2196F3;}
    
    body { font-family: "Roboto", "Raleway", sans-serif;
    color: #212121;
    }
    .section {
        padding: 94px 0px;
        display: block;
    }
    .section > img {
        padding: 20px;
    }