.testimonials {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
    padding-bottom: 94px;
}
.testimonials__item {
    margin-left: 30px;
    margin-bottom: 30px;
    max-width: 270px;
}
.testimonials__item > h2 {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.14em;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}
.testimonials-list-item > p {
font-weight: 400;
font-size: 14px;
line-height: 1.71em;
letter-spacing: 0.03em;
color: #757575;
}

.testimonials__icon {
display: flex;
height: 120px;
background: #F5F4FA;
border-radius: 4px;
justify-content: center;
align-items: center;
margin-bottom: 30px;

}

.testimonials__image {
width: 70px;
height: 70px;

}